<div class="mask-container relative isolate pt-48 w-full">
  <div class="above-mask-box absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="box-wrap relative">
    </div>
  </div>
  <div class="mask-box pt-24 sm:py-32 w-full lg:pb-40">
    <div class="box-wrap mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl sm:text-6xl font-bold tracking-tight bg-clip-text text-transparent hx-bg-gradient-to-r hx-from-gray-900 hx-to-gray-600 dark:hx-from-gray-100 dark:hx-to-gray-400">
        </h1>
      </div>
    </div>
  </div>
  <div
    class="below-mask-box mx-auto"
    aria-hidden="true">
    <div class="box-wrap mx-auto max-w-2xl">
    </div>
  </div>
</div>
